Portfolio_Chatbot_Ollama.json
{
    "name": "Portfolio Chatbot (Ollama)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "portfolio-chat",
                "responseMode": "lastNode",
                "options": {}
            },
            "id": "a1b2c3d4-1111-4aaa-bbbb-000000000001",
            "name": "Webhook1",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                -400,
                260
            ],
            "webhookId": "portfolio-chat-ollama"
        },
        {
            "parameters": {
                "keepOnlySet": true,
                "values": {
                    "string": [
                        {
                            "name": "knowledge_context",
                            "value": "MUHAMMAD SALMAN ASHRAF - PORTFOLIO DATA\nBS Artificial Intelligence Student\nEmail: salmanmalhig@gmail.com | GitHub: github.com/MALHI786 | LinkedIn: muhammad-salman-ashraf-163002310\n\nPROJECTS:\n1. AI Video to Fluent Text - Converts video speech to fluent text using neural networks. Pipeline: Video→FFmpeg→Whisper Speech-to-Text→T5 Text Improvement→Output. Tech: Python, FastAPI, OpenAI Whisper, T5 Transformer, FFmpeg, HTML/CSS/JS\n2. Attendy - Smart Attendance System. Mobile app for teachers. Features: Teacher CNIC login, Student Roll# login, Mark attendance, Excel reports, Email alerts for <75%, WhatsApp sharing, Dark mode, Offline SQLite+Firebase sync. Tech: Flutter, Dart, Firebase, SQLite, SHA-256, Syncfusion Charts\n3. Mani Sports Shahkot - E-commerce catalog with WhatsApp orders. Categories: Shirts, Trousers, Shoes, Caps, Sports. Admin dashboard. Tech: Next.js 15, TypeScript, Tailwind CSS, Firebase, Vercel\n4. Portfolio Manager - Auto-manages portfolio with GitHub commits and Vercel deploy. Tech: Next.js 16, TypeScript, Octokit, Vercel\n5. RAG Chatbot with DeepSeek - Chat with PDFs using AI. Tech: Python, Streamlit, LangChain, FAISS, Ollama, Groq, DeepSeek R1\n6. Rewarded Platform - Rewards+OLX marketplace. Features: OAuth, 70/30 CPA, Wallet, Anti-Fraud. Tech: NestJS, Next.js 14, PostgreSQL, Prisma, Redis\n7. Shahkot App - City app (50KM geofenced). Features: Social feed, Marketplace, Tournaments, Govt directory, Shop finder, Rishta(CNIC verified), News. Roles: USER, VERIFIED_USER, REPORTER, ADMIN. Tech: React Native, Expo, Express, PostgreSQL, Prisma, JWT, Cloudinary\n8. Voice Lock System - Voice-based authentication system\n\nLEADERSHIP: Class Representative, AI Society Sr Coordinator, Hackathon Organizer, Team Lead\nEDUCATION: BS AI - 5 semesters. Courses: Data Structures, Algorithms, OOP, Machine Learning, Database Systems, Operating Systems"
                        },
                        {
                            "name": "user_message",
                            "value": "={{ $json.body.message }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "a1b2c3d4-2222-4aaa-bbbb-000000000002",
            "name": "Knowledge Base1",
            "type": "n8n-nodes-base.set",
            "typeVersion": 2,
            "position": [
                -200,
                260
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://host.docker.internal:11434/api/chat",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ model: 'llama3.2', messages: [{ role: 'system', content: 'You are a helpful AI assistant for Muhammad Salman Ashraf portfolio website. Answer questions ONLY from the following data. Be concise and friendly. If the answer is not in the data, say so politely.' + '\\n\\n' + $json.knowledge_context }, { role: 'user', content: $json.user_message || 'Hello' }], stream: false, options: { num_ctx: 4096 } }) }}",
                "options": {
                    "timeout": 120000
                }
            },
            "id": "a1b2c3d4-3333-4aaa-bbbb-000000000003",
            "name": "Call Ollama",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                0,
                260
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ answer: $json.message ? $json.message.content : 'Sorry, I could not generate a response.' }) }}",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            }
                        ]
                    }
                }
            },
            "id": "a1b2c3d4-4444-4aaa-bbbb-000000000004",
            "name": "Respond to Webhook1",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                200,
                260
            ]
        }
    ],
    "pinData": {},
    "connections": {
        "Webhook1": {
            "main": [
                [
                    {
                        "node": "Knowledge Base1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Knowledge Base1": {
            "main": [
                [
                    {
                        "node": "Call Ollama",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Call Ollama": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1"
    },
    "meta": {
        "templateCredsSetupCompleted": true
    },
    "tags": []
}